
.registration-dark {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #475d62;
  }
  
  .registration-dark form {
    max-width: 320px;
    width: 100%;
    background: #1e2833;
    padding: 40px;
    border-radius: 4px;
    color: #fff;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  }
  
  .registration-dark .illustration {
    text-align: center;
    padding: 10px;
  }
  
  .registration-dark .illustration i {
    font-size: 100px;
    color: #2980ef;
  }
  
  .registration-dark .form-group {
    margin-bottom: 20px;
  }
  
  .registration-dark .form-control {
    background: #333;
    color: #fff;
    border: none;
  }
  
  .registration-dark .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .registration-dark .btn-primary {
    background: #2980ef;
    border: none;
  }
  
  .registration-dark .btn-primary:hover {
    background: #2575e6;
  }
  
  .registration-dark .forgot {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .registration-dark .forgot:hover {
    color: #fff;
  }
  